version: '3.8'
services:
  db:
    image: postgres:14
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    ports:
      - "5432:5432"

  backend:
    build: ./backend
    env_file: .env
    volumes:
      - ./backend/app:/app
    ports:
      - "8000:8000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "5173:5173"
    environment:
      - VITE_API_BASE=https://railway.com/project/a2435af1-ae22-4ec4-b1c0-44c293f4b261/service/7c3fb67a-9b44-4fb5-a6a2-ecdfb15fa707?environmentId=b1c4908d-97ae-4960-8451-da1a2e44f15e&id=9e5bd0d9-54ca-4fe4-920a-b095f0f8f1f4#deploy
    depends_on:
      - backend
